<ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
<!-- <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ng-container *ngIf="!editMode; else nameEdit">
          {{ pokemon.name }}
        </ng-container>
        <ng-template #nameEdit>
          <ion-input [(ngModel)]="editedPokemon.name"></ion-input>
        </ng-template>
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div class="poke-details">
        <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" />
  
        <label>Height:</label>
        <ng-container *ngIf="!editMode; else heightEdit">
          <p>{{ pokemon.height }}</p>
        </ng-container>
        <ng-template #heightEdit>
          <ion-input type="number" [(ngModel)]="editedPokemon.height"></ion-input>
        </ng-template>
  
        <label>Weight:</label>
        <ng-container *ngIf="!editMode; else weightEdit">
          <p>{{ pokemon.weight }}</p>
        </ng-container>
        <ng-template #weightEdit>
          <ion-input type="number" [(ngModel)]="editedPokemon.weight"></ion-input>
        </ng-template>
  
        <label>Base Experience:</label>
        <ng-container *ngIf="!editMode; else expEdit">
          <p>{{ pokemon.base_experience }}</p>
        </ng-container>
        <ng-template #expEdit>
          <ion-input type="number" [(ngModel)]="editedPokemon.base_experience"></ion-input>
        </ng-template>
  
        <label>Abilities:</label>
        <ul>
          <li *ngFor="let ability of pokemon.abilities">
            {{ ability.ability.name }}
          </li>
        </ul>
  
        <ion-button *ngIf="!editMode" (click)="startEdit()">Edit</ion-button>
        <ion-button color="success" *ngIf="editMode" (click)="saveEdit()">Save</ion-button>
        <ion-button color="medium" *ngIf="editMode" (click)="cancelEdit()">Cancel</ion-button>
      </div>
    </ion-card-content>
  </ion-card> -->

  @if (pokemon$ | async; as pokemon) {
    @if (editedPokemon$ | async; as edited) {
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            @if (!isEditing) {
              {{ edited.name || pokemon.name }}
            } @else {
              <ion-input fill="outline" type="text"
                [value]="edited.name || pokemon.name"
                (ionInput)="onFieldChange('name', $event.target.value)">
              </ion-input>
            }
          </ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <div class="poke-details">
            <div>
              <img [src]="edited.sprites?.front_default || pokemon.sprites.front_default"
                   [alt]="edited.name || pokemon.name" />
            </div>
  
            <label>Height:</label>
            @if (!isEditing) {
              <p>{{ edited.height ?? pokemon.height }}</p>
            } @else {
              <ion-input fill="outline" type="number"
                [value]="edited.height ?? pokemon.height"
                (ionInput)="onFieldChange('height', $event.target.value)">
              </ion-input>
            }

           
            <label>Weight:</label>
            @if (!isEditing) { 
              <p>{{ edited.weight ?? pokemon.weight }}</p>
            } @else {
              <ion-input fill="outline" type="number"
                [value]="edited.weight ?? pokemon.weight"
                (ionInput)="onFieldChange('weight', $event.target.value)">
              </ion-input>
            }
  
            <label>Base Experience:</label>
            @if(!isEditing) {
              <p>{{ edited.base_experience ?? pokemon.base_experience }}</p>
            } @else {
              <ion-input fill="outline" type="number"
                [value]="edited.base_experience ?? pokemon.base_experience"
                (ionInput)="onFieldChange('base_experience', $event.target.value)">
              </ion-input>
            } 
            <label>Abilities:</label>
            <ul>
              <li *ngFor="let ability of pokemon.abilities">
                {{ ability.ability.name }}
              </li>
            </ul>
            @if (!isEditing) {
              <ion-button (click)="startEdit()">Edit</ion-button>
            } @else {
              <ion-button color="success" (click)="saveEdit()">Save</ion-button>
              <ion-button color="medium" (click)="cancelEdit()">Cancel</ion-button>
            }
          </div>
        </ion-card-content>
      </ion-card>
    }
  }
  

  