<ion-header class="flex-header">   
    <ion-toolbar>
        <ion-title>Home</ion-title>
    </ion-toolbar>

    <ion-buttons slot="primary">
        <ion-button (click)="openMenu()">
            <ion-icon name="menu"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-header>
<ion-content>
    @for(pokemon of pokemonList; track pokemon.url) {
        <ion-card (click)="openDetails(pokemon.url)">
            <ion-card-header>
                <ion-card-title>{{pokemon.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                This is a simple card with some content.
            </ion-card-content>
        </ion-card>
    
    }


    <div class="custom-button" (click)="openMenu()">
        Custom Button
    </div>
</ion-content>